{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<style>
:root {
    --swiper-theme-color: #f6c20c;
}
</style>

<!-- Slider main container -->
<div class="swiper" style="height:750px;">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
		<img src="https://images.unsplash.com/photo-1529634597503-139d3726fed5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80">
		<div style="position:absolute;top:200px;left:240px;">
			<div style="color:#fff;font-size:56px;">모바일 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;">결혼식 모바일 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;font-weight:bold;"><a href="#" style="color:#fff;">바로가기</a></div>
		</div>
	</div>
    <div class="swiper-slide">
		<img src="https://images.unsplash.com/photo-1621857426350-ddab819cf0cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80">
		<div style="position:absolute;top:200px;left:240px;">
			<div style="color:#fff;font-size:56px;">돌잔치 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;">돌잔치,백일 모바일 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;font-weight:bold;"><a href="#" style="color:#fff;">바로가기</a></div>
		</div>
	</div>
    <div class="swiper-slide">
		<img src="https://images.unsplash.com/photo-1523521803700-b3bcaeab0150?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80">
		<div style="position:absolute;top:200px;left:240px;">
			<div style="color:#fff;font-size:56px;">행사 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;">개업식, 이취임식, 동호회등 다양한 행사 초대장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;font-weight:bold;"><a href="#" style="color:#fff;">바로가기</a></div>
		</div>
	</div>
    <div class="swiper-slide">
		<img src="https://images.unsplash.com/photo-1576014131795-d440191a8e8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80">
		<div style="position:absolute;top:200px;left:240px;">
			<div style="color:#fff;font-size:56px;">모바일 감사장</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;">감사의 마음을 모바일 감사장에 담아 보내세요</div>
			<div style="color:#fff;font-size:20px;margin-left:5px;font-weight:bold;"><a href="#" style="color:#fff;">바로가기</a></div>
		</div>
	</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });

</script>

{% endblock %}